.containerNE {
    background-color: #FFFFFF;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem 0rem;
    box-shadow: #ccc 0px 0px 10px 1px;
}

.TimeNE {
    border: 1px solid #00000056;
    border-radius: 10px;
    padding: 1.5rem;
}

.textNE {
    color: #AE002D;
    margin: 0rem 0rem 1rem 0rem;
}
