.Nav{
    width: 100vw;
    height: 100vh;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.NavContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 1500px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.NavContainer img{
    width: 100vw;
    height: 100vh;
    max-width: 120px;
    max-height: 70px;
    margin: 1.6rem;
    padding: 0.5rem;
}