.containerL {
    display: flex;
    justify-content: space-between;
    margin: 3rem 10rem;
    
}
.spaceL{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 2rem ;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #00000067;
    border-radius: 10px;
    box-shadow: #ccc 0px 0px 10px 1px;
    height: 20%;
    margin: 0rem 10rem 0rem 0rem;
}